<!DOCTYPE HTML>

<html>

	<head>
		<title>500</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="stylesheet" href="/static/assets/css/portfolio.css">
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
        <!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/atds/initial-consultation', text: 'Get Your FREE Consultation NOW!', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
					<!-- Global site tag (gtag.js) - Google Analytics -->
					<script async src="https://www.googletagmanager.com/gtag/js?id=G-715RDK09PR">
					</script>
					<script>
					  window.dataLayer = window.dataLayer || [];
					  function gtag(){dataLayer.push(arguments);}
					  gtag('js', new Date());
					
					  gtag('config', 'G-715RDK09PR');
					</script>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ url_for('index') }}">A-Tech Design Solutions</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li>
								<a href="#">Day to Day</a>
								<ul>
									<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
									<li><a href="{{ url_for('ourteam') }}">Our Team</a></li>
									<li><a href="{{ url_for('process') }}">How we Work</a></li>
									<li>
										<a href="#">The Legal Stuff</a>
										<ul>
											<li><a href="#">Terms and Conditions</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
											<li><a href="#">Careers</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('portfolio') }}">Our Portfolio</a></li>
							<li><a href="{{ url_for('consultation') }}" class="button primary">LETS GO!</a></li>
						</ul>
					</nav>
				</header>

                </div>
                <!-- Main -->
                <br><br><br><br><br>
				<h1 style="text-align: center;">OOPS</h1>
                <h3 style="text-align: center;">Sorry, our home page seems to be undergoing some maintence. Please check back later on or visit our other pages :)</h3>
                </body>



                <!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>