<!DOCTYPE HTML>

<html>
	<head>
		<title>A-Tech</title>
		<meta charset="utf-8" />
		<meta name="description" content="For all things Technology and Blockchain.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="/static/assets/css/main.css"/>
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css"/></noscript>
					<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-715RDK09PR">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-715RDK09PR');
</script>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/atds/initial-consultation', text: 'Get Your FREE Consultation NOW!', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
	</head>
	<body class="is-preload landing">
	<!-- Calendly badge widget begin -->

	
		
		<div id="page-wrapper">



			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ url_for('index') }}">A-Tech Design Solutions</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li>
								<a href="#">Day to Day</a>
								<ul>
									<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
									<li><a href="{{ url_for('ourteam') }}">Our Team</a></li>
									<li><a href="{{ url_for('process') }}">How we Work</a></li>
									<li>
										<a href="#">The Legal Stuff</a>
										<ul>
											<li><a href="#" class="nav-links">Terms and Conditions</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
											<li><a href="#">Careers</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{url_for('portfolio')}}">Our Portfolio</a></li>
							<li><a target="_blank" href="https://calendly.com/atds/initial-consultation" class="button primary">LETS GO!</a></li>
						</ul> 
					</nav> 
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>The future is now</h2>
							<p>And there are no hoverboards or flying cars.<br />
							Just apps. Lots of mother flipping apps waiting to be developed and discovered.</p>
							<br><p>Is one of them yours?</p>
						</header>
						<span class="image"><img src="https://images.unsplash.com/photo-1626908013351-800ddd734b8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>An internet is born.</h2>
										<p>Let me take you to funky town.</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>In the beginning, there was no internet whatsoever. It was simple times where the only viral video that was available had to be rented out at your nearest blockbuster. VHS, Boombox stereos and the mighty Macintosh PC were the kings of the 1980s when everyone had an afro and wore bell bottom jeans and cowboy boots that went up to your knees.</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Then suddely out of no where, someone created the internet. Few years after that someone created the first ever website published. It was a mere few words digitally printed out with no style or colours at all.
										In those days, it was acceptable to have a website that was just a bunch of text and links to other websites. No one knew what SEO was, or how to get the most traffic to your website etc. It wasn't until the 90s that the internet and websites, truly came into their own.
									</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="https://images.unsplash.com/photo-1598520106864-72ed7919100b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80" alt="" /></span>
					<div class="content">
						<header>
							<h2>The .com bubble</h2>
							<p>Where the fun really began</p>
						</header>
						<p>Just like the famous WWE Wrestler Randy Orton, the .com bubble came out of no where in the late to mid 2000s. Domain fliping could make you a millionaire after investing $2, Share markets introduced online based trading platforms. But most important of all. Style was finally in web fashion.</p>

						<div class="col-4 col-12-medium">
							<p>Gone were the days of plain text and a few images here and there. Now it was all about having the right colours and fonts that looked just right. Youtube, facebook, twitter, reddit and many other websites were born, along with a new category of websites called "social media".Smartphones became a part of our live and as a result of that, mobile apps were born.It really is amazing to think that in less than 40 years the internet has gone from what it was. To what it will be very soon.</p>
							</p>
						</div>
						
						<ul class="actions">
							<li><a href="#three" class="button scrolly">Learn More</a></li>
						</ul>
					</div>
					
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="https://images.unsplash.com/photo-1641932269834-af141d2c2017?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80" alt="" /></span>
					<div class="content">
						<header>
							<h2>What's a bank?</h2>
							<p>The future of the internet is truly bright.</p>
						</header>
						<p>Today, google.com is the most visited website in the world. In 10 years time, it will be a website related to blockchain or cryptocurrency. Digital assets are becoming such a trend, that people are making millions of dollars from just taking selfies of themselves and minting them as NFTs (Non-Fungible Tokens). Whether you like it or not, cryptocurrency and blockchain are here to stay. Currently we are in web 2.0 which in laymans terms means websites and mobile apps. Web 3.0 is founded on the principal that you manage your own money without the need of a third party such as a bank. Think of it like this: </p>
						<div class="col-4 col-12-medium">
							<p>You're on your favourite shopping website, you find something that you really like and are willing to purchase it. Rather than entering your shipping details and credit card number ( which is frankly dangerous ), you can connect your digital wallet to your shopping site and in 1 click submit the shipping details AND pay for your order. How crazy is that?
							</p>
						</div>
						<ul class="actions">
							<li><a href="#four" class="button scrolly">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Key things to achieve maximum traffic to your business</h2>
							<p>"If a job is worth doing, it's worth doing well"</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Analytical Data Collection</h3>
									<p>1GB of data is worth more than a bar of gold these days*. Collecting data is essential to every and any business, no matter how big or small. From email addresses to sealing the deal, all data is preciously valuable but only if handled with tender love and care.. And with the upmost security of course.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Efficient Customer Service Methods</h3>
									<p>Things were much simpler back in the good ol days, now everyone has a phone but no one wants to talk to you. Having a live chat system streamlines the entire process for you, as well as saves you hours of your life which would have been spent on the phone.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Modern Design</h3>
									<p>You wouldn't buy a 1 bedroom house for your family of 4, so why do you only have a desktop size website? Responsive web design is a staple in generating traffic to your business. Without it you are a fisherman without a rod, boat, or gumboots really.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>What's your top speed?</h3>
									<p>Slow and sluggish websites are a thing of the past. If you really want to increase traffic to your business, you must get "up to speed" ( see what I did there ) with the latest CSS frameworks. If you just read that and have no idea what CSS is then it is 2022 afterall. There are multiple ways of making fast and beautiful websites without writing a single line of code.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>What's your game?</h3>
									<p>Chess players are famous for always thinking 10 steps ahead during each intense match. Strageties are no fools game but as my Brother always says:
										"Always have a plan, even if you didn't follow it completely you at least had a guideline to work with"
									</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>How secure.. Is secure?</h3>
									<p>See back in the early 2000s, you could get away with having a http website. Now though things have changed, SSL certification allows you to reach out more to the people who really need your help. Afterall, that's what business is all about right?</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#five" class="button scrolly">This makes sense but how do I actually do this?</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<img style="width: 80%; height: auto; padding: auto; margin: auto;" src="/static/images/ebook.png" alt="">
							
						</header>
						<form method="post" action="{{ url_for('ebook') }}" class="cta">
							<h2 style="padding-bottom: 0%;">Get your FREE EBOOK now!</h2>
							<p style="font-weight: 600;">Only if you're game enough..</p>
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><a target="_blank"  href="https://calendly.com/atds/initial-consultation"><input type="submit" value="Let's do it!" class="fit primary" /></a></div>
								
							</div>
						</form>
						<a href="#header" class="button primary scrolly">Go back up</a>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.linkedin.com/in/a-tech-85932122b/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:hamish@atech.industries" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; A-Tech Design Solutions Limited. All rights reserved 2022.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>