<!DOCTYPE HTML>

<html>
	<head>
		<title>Our Story</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/atds/initial-consultation', text: 'Get Your FREE Consultation NOW!', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
						<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-715RDK09PR">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-715RDK09PR');
</script>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ url_for('index') }}">A-Tech Design Solutions</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li>
								<a href="#">Day to Day</a>
								<ul>
									<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
									<li><a href="{{ url_for('ourteam') }}">Our Team</a></li>
									<li><a href="{{ url_for('process') }}">How we Work</a></li>
									<li>
										<a href="#">The Legal Stuff</a>
										<ul>
											<li><a href="#">Terms and Condtions</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
											<li><a href="#">Careers</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
							<li><a href="{{ url_for('consultation') }}" class="button primary">LETS GO!</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Our Story</h2>
							<p>It wasn't always like this you know</p>
						</header>
						<div class="row gtr-150">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>Did you know</h3>
											<p>It takes about 50 milliseconds (that is 0.05 seconds) for users to form an opinion about your website that determines whether they like your site or not, whether they will  stay or leave.</p>
											<footer>
												<ul class="actions">
													<li><a href="{{ url_for('consultation') }}" class="button">What do you mean?</a></li>
												</ul>
											</footer>
										</section>
										<hr />
										<section>
											<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" alt="" /></a>
											<h3>Did you also know</h3>
											<p>57% of internet users say they will not recommend a business with a poorly designed website on mobile.
											</p>
											<footer>
												<ul class="actions">
													<li><a href="{{ url_for('consultation') }}" class="button">Really?</a></li>
												</ul>
											</footer>
										</section>
									</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<section id="content">
										<a href="#" ><img style="width: 92%; margin: auto; padding: auto;" src="https://images.unsplash.com/photo-1502990313206-7f37a9514bea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80" alt="" /></a>
										<h3>From Kitchens to Codes</h3>
										<p>Being a 90s kid I grew up with technology. But as they say if you are used to one thing you never take it seriously until you leave it for a while. That's exactly what happened the day I quit my job as an apprentice chef for one of the best universities in Auckland New Zealand. This sudden feeling of not reaching my true potential dawned on me to the point where I went back to where I felt most at home.. Tech.</p>
										<p>Getting back into technology, in particular hardware seemed almost impossible now unless you're Bill Gates himself. Then the lightbulb turned on, development. Web, Software, Game, Animation development is the answer. That's when my curiosity really arose. I kept heading deeper into the rabbit hole that is programming and found myself emerging with these new superhuman like powers.</p>
										<p>Suddenly a new world of possiblilities to conquer seemed possible.As Uncle Ben says "with great power, comes great responsibility". Okay that's maybe a bit too dramatised but you get the point I'm trying to make here. If you're not happy doing what you do everyday, then do something that makes you happy everyday.</p>
										<h3>Quality not quantity</h3>
										<p>For the past 3 years my team and I have been working day in and day out to create the best possible user experiences for our clients. We strive on complexity and show our true strengths when in the deep end. From simple landing pages to complex mobile apps and video games, we can do it all!
											Our products always contain the following:
										</p>
										<ul>
											<li>Desktop and Mobile responsive design</li>
											<li>Safe security and SSL certifications</li>
											<li>Fast and efficient source code specially optimized for tomorrow's world</li>
											<li>Neat and clean documentation outlining the process from conception to birth(the product of course)</li>
											<li>SEO and CMS optimization to ensure you collect web traffic as soon as your project goes live</li>
										</ul>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/servicesatechi1 " target="_blank" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/atechds" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.linkedin.com/company/adtsl/" target="_blank"  class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://www.instagram.com/atechdesignsolutions/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.tiktok.com/@atechdesignsolutions" target="_blank" class="icon brands alt fa	 fa-bitbucket"><span class="label">Tiktok</span></a></li>
					<li><a href="mailto:hamish@atech.industries" target="_blank" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; A-Tech Design Solutions Limited. All rights reserved 2022.</li>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>