<!DOCTYPE HTML>

<html>
	<head>
		<title>How we Work</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/atds/initial-consultation', text: 'Get Your FREE Consultation NOW!', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
						<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-715RDK09PR">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-715RDK09PR');
</script>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ url_for('index') }}">A-Tech Design Solutions</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li>
								<a href="#">Day to Day</a>
								<ul>
									<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
									<li><a href="{{ url_for('ourteam') }}">Our Team</a></li>
									<li><a href="{{ url_for('process') }}">How we Work</a></li>
									<li>
										<a href="#">The Legal Stuff</a>
										<ul>
											<li><a href="#">Terms and Conditions</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
											<li><a href="#">Careers</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
							<li><a href="{{ url_for('consultation') }}" class="button primary">LETS GO!</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>How we Work</h2>
							<p>Working with an agency can be daunting. We feel your pain.</p>
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1594482627997-ed01bdde4286?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" alt="" /></a>
								<h3>Simplified at best.</h3>
								<p>After many coffees and multiple packets of scotch fingers, we have finally discovered the ultimate process to ensure the best product is delivered every time. We call it "listening to the client". </p>
								<p>At the end of the day, this is your project. It's not like we can tell you how to raise your child right? If you want your child to learn the piano then we must respect that decision even though we think your child should learn to play the guitar instead. This is the principal on which we consult here at A-Tech. We work with our clients to first establish specific details such as color, layout, assets ( images video etc) and in some cases music. It is on these foundations our team work their magic to produce stunning results. </p>
								<h3>Quality is our middle name.</h3>
								<p>Like well aged wine, your product should also age well with time. People buy NIKE (other brands are available) sneakers because they last 10x longer than sneakers bought from a $2 shop. Quality always speaks for itself and that's what we like to think our clients will feel after seeing their dream transform into reality. Being in business is a journey on it's own and we would be honored to join you on this wonderful path to success. To summarize in plain english. Our process looks something like this:</p>
								<ul>
									<li>30 min consultation</li>
									<li>Project proposal draft</li>
									<li>Prototype UX designs </li>
									<li>Alpha product</li>
									<li>Final feedback</li>
									<li>Product launch</li>
									<li>SEO/marketing</li>
									<li>Huge smiles</li>
								</ul>
								<h3></h3>
								<p></p>
							</section>

					</div>
				</div>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/servicesatechi1 " target="_blank" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/atechds" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.linkedin.com/company/adtsl/" target="_blank"  class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://www.instagram.com/atechdesignsolutions/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.tiktok.com/@atechdesignsolutions" target="_blank" class="icon brands alt fa	 fa-bitbucket"><span class="label">Tiktok</span></a></li>
					<li><a href="mailto:hamish@atech.industries" target="_blank" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; A-Tech Design Solutions Limited. All rights reserved 2022.</li>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>