<!DOCTYPE HTML>

<html>
	<head>
		<title>Our Team</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/atds/initial-consultation', text: 'Get Your FREE Consultation NOW!', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
						<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-715RDK09PR">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-715RDK09PR');
</script>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{ url_for('index') }}">A-Tech Design Solutions</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li>
								<a href="#">Day to Day</a>
								<ul>
									<li><a href="{{ url_for('ourstory') }}">Our Story</a></li>
									<li><a href="{{ url_for('ourteam') }}">Our Team</a></li>
									<li><a href="{{ url_for('process') }}">How we Work</a></li>
									<li>
										<a href="#">The Legal Stuff</a>
										<ul>
											<li><a href="#">Terms and Conditions</a></li>
											<li><a href="#">Privacy Policy</a></li>
											<li><a href="#">Terms of Use</a></li>
											<li><a href="#">Careers</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
							<li><a href="{{ url_for('consultation') }}" class="button primary">LETS GO!</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Our Team</h2>
							<p>There's no I in team. But there is in Tim.</p>
						</header>
						<div class="row gtr-150">
							<div class="col-8 col-12-medium">

								<!-- Content -->
									<section id="content">
										<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1611223235982-891064f27716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80" alt="" /></a>
										<h3>Everyone needs help at some point.</h3>
										<p>If you want success, most likely you cannot do it alone. You need a group of people dedicated to your vision who also share the same passion and determination towards your business. Handpicked from a vast selection of applicants, A-Tech's Core Team of 6 will ensure you sleep at night whilst we do the work for you.</p>
										
										<h3>Who's Who?</h3>
										
										<ul>
											<li>Hamish Aman Prakash - Founder/Developer
												<p>My job is to ensure our clients receive only the best product which is suited to their exact needs.
												</p>
											</li>
											<li>Morgan Munro - Chief Technical Officer/Developer
												<p>My job is to ensure all projects work and function exactly how our customers need them to!</p>
											</li>
											<li>Aleen Aman Prakash - Head of UI/Design
												<p>My job is to make sure your design looks the best everytime!</p>
											</li>
											<li>Logan Wood - Developer
												<p>My job is to give you the best possible custom made digital product in the cleanest and most efficient way possible!</p>
											</li>
											<li>Paavan Kumar - Hybrid Developer
												<p>My job is to create E-Commerce Stores through tools such as Shopify, WooCommerce and others!</p>
											</li>
											<li>Sebastian Vickerstaff - Social Media Manager
												<p>My job is to keep our team motivated and on track at all times and manage our social networks!</p>
											</li>
										</ul>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>Did you know</h3>
											<p>38% of people will stop engaging with a website if the content or layout are unattractive..</p>
											<footer>
												<ul class="actions">
													<li><a href="{{ url_for('consultation') }}" class="button">Learn More</a></li>
												</ul>
											</footer>
										</section>
										<hr />
										<section>
											<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1593510987185-1ec2256148a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" /></a>
											<h3>Did you also know</h3>
											<p>75% of consumers admit to making judgements on a company’s credibility based on the company’s website design</p>
											<footer>
												<ul class="actions">
													<li><a href="{{ url_for('consultation') }}" class="button">Learn More</a></li>
												</ul>
											</footer>
										</section>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.linkedin.com/in/a-tech/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:hamish@atech.industries" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; A-Tech Design Solutions Limited. All rights reserved 2022.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>